[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
python-dotenv = "==0.1.0"
psycopg2 = "*"
requests = "*"
psycopg2-binary = "*"
python-env = "*"
markdown = "*"
django-filter = "*"
django-storages = "*"
boto3 = "*"
djangorestframework-jwt = "*"
django-crontab = "*"
django-smtp-ssl = "*"
gunicorn = "*"
coverage = "*"
django-override-storage = "*"

[requires]
python_version = "3.7"

[scripts]
test = "coverage run manage.py test flight_booking/apps/users/tests/ flight_booking/apps/bookings/tests/"
report = "coverage report"
coveralls = "coveralls"
